# node_modules
node_modules/

# ponder generated database & types
.ponder/

# local environment files
.env.local
.env.production
.env

# typescript build info
*.tsbuildinfo

# cadangan .env otomatis dari deploy-all.sh
.env.bak-*
.env.local.bak-*
